@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #edf5ef;
  --primary: #000000;
  --secondary: #00dd74;
  --grayish: #a2a2a2;
  --graytext: #8F8F8F;
  --font-league-spartan: 'League Spartan', sans-serif;
}

:root {
  font-family: var(--font-league-spartan), sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-league-spartan);
  background: var(--background);
}
